.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.byline,
.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}


.mdc-layout-grid.max-width {
	max-width: 1600px;
}

/*--------------------------------------------------------------
# Content on Left with Sidebar on Right
--------------------------------------------------------------*/
.content-area {
	@include mdc-layout-grid-cell(16px, 8);	
}

.widget-area {
	@include mdc-layout-grid-cell(16px, 4); 
}